.nombreIcono {
    color: white;
    margin: 0;
    text-align: center;
}

.containerIconos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 20px;
    border: 0px !important;
}

.icono {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    min-width: 75px;
    border: 0 !important;
    background: transparent !important;
    
}

.ventanaCompleta {
    width: 400px;
    position: absolute;
    top: 30%;
    left: 30%;
    padding: 0 !important;
    margin: 0 !important;
}
.barraVentana {
    background-color: #001BA4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px !important;
    margin: 0;
    border: 0 !important;
    border-bottom: 2px solid black !important;
    color: white;
}