.toolbarposition {
  top: auto !important;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}
.toolbarFlex{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}
.hora{
  padding: 5px 15px;
}

.listaMenu{
  position: absolute !important;
  left: 0;
  bottom: 100%;
  margin: 0;
  padding: 0;
}
.itemMenu{
  padding-right: 100px !important;
}
.itemFlex{
  display: flex !important;
  justify-content: space-between !important; 
  align-items: center;
  gap: 10px;
}

.window {
  min-width: 300px;
}

.window-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}